<% if @message %>
  <div class="alert alert-info" role="alert">
    <%= @message %>
  </div>
<% end %>

<p><%= @member.name %></p>
<% if authorized? %>
  <a href="/members/<%= @member.id %>/edit">Edit</a>
  <a href="/members/<%= @member.id %>/delete"> | Delete</a>
<% end %>
</br>
<a href="/members"><< Back to all particiants</a>

